@import "../../../data/styles.css";

:root {
	--primary-color: #333;
	--link-color: #f0dc4f;
	--hover-color: #fff;
	--background-gradient: linear-gradient(45deg, #6a11cb, #2575fc);
}

.nav-container {
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--background-gradient);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
	transition: background 0.3s ease-in-out;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 100%;
	max-width: 1200px;
	padding: 0;
	margin: 0;
}

.nav-item {
	font-weight: bold;
	font-size: 1rem;
	position: relative;
}

.nav-item a {
	text-decoration: none;
	color: var(--hover-color);
	transition: color 0.3s ease-in-out;
}

.nav-item a:hover,
.nav-item.active a {
	color: var(--link-color);
}

.nav-item::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: var(--link-color);
	transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
}

.nav-item:hover::after,
.nav-item.active::after {
	width: 100%;
	left: 0;
	background: var(--link-color);
}

@media (max-width: 600px) {
	.nav-item {
		font-size: 0.9rem;
	}
}
