@import "../../../data/styles.css";

.nav-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3vh;
    z-index: 999;
}

.nav-background {
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 380px; /* Added max-width to limit navbar width */
    height: 40px;
    padding-left: 0%;
    padding-right: 0%;
    background: #f0dc4f;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-left: -16px;
    margin-right: 20px;
    margin-top: 11px;
}

.nav-item {
    font-weight: bold;
    font-size: 80%;
    white-space: nowrap; /* Prevent text from wrapping */
}

.nav-item.active a {
    color: var(--link-color) !important;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-item a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
    .navbar {
        width: 90%; /* Adjusted width for responsiveness */
        margin: 0 auto; /* Center the navbar */
    }

    .nav-background {
        width: 100%; /* Adjusted width for responsiveness */
        max-width: none; /* Remove max-width for responsiveness */
    }

    .nav-list {
        margin: 0; /* Remove margin for responsiveness */
        padding: 0; /* Remove padding for responsiveness */
        flex-wrap: wrap; /* Allow items to wrap on small screens */
        justify-content: center; /* Center items on small screens */
    }

    .nav-item {
        font-size: 70%; /* Decrease font size for small screens */
        margin: 5px; /* Add margin between items on small screens */
    }
}
